*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: calc(.5em + 1vw);
}
html, body, p, h1{
    margin:0;
    padding: 0;
    text-rendering: optimizeSpeed;
}
a{
    text-decoration: none;
    background-color: transparent;
}
img {
    border-style: none;
    max-width: 100%;
    display: block;
}